fastapi==0.78.0
joblib==1.1.0
mlflow==1.26.1
nltk==3.7
numpy==1.19.5
optuna==2.10.0
pandas==1.4.2
pydantic==1.8.2
pytest==7.1.2
regex==2022.6.2
rich==12.4.4
scikit_learn==1.1.1
setuptools==56.0.0
snorkel==0.9.8
typer==0.4.1
